* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --BG: #ff8a00;
  --WhiteGray: #d9d9d9;
}
body {
  background-color: var(--BG);
  height: 100svh;
  display: grid;
  place-content: center;
}
.container {
  /* background-color: orangered; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 80vw;
  height: 675px;
}
.countdown-display {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, black, var(--WhiteGray));
  border-radius: 50%;
  width: 30vw;
  max-width: 336px;
  aspect-ratio: 1/1;
}
.countdown-display .time {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--WhiteGray);
  width: 40%;
  aspect-ratio: 1.5;
}
.time h2,
.time h1,
.time span {
  font-size: 2rem;
  font-weight: 600;
}
.start-reset-btn {
  /* background-color: aqua; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  column-gap: 10rem;
  width: 100%;
  padding: 1rem;
}
.start-reset-btn .btn {
  background-color: var(--WhiteGray);
  padding: 0.5rem;
}
.start-reset-btn .btn button {
  border: 0;
}
.start-reset-btn .btn button:hover {
  background-color: inherit;
}

.start h2 {
  display: none;
}
.add-btn {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.length {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 25vw;
  max-width: 206px;
  aspect-ratio: 1.13/1;
  flex-shrink: 0;
  border-radius: 5px;
}
.length > h2,
.pomodoro h3 {
  color: white;
  padding: 10px;
}
.length .white-bg {
  background-color: var(--WhiteGray);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 87%;
  aspect-ratio: 1.73/1;
  flex-shrink: 0;
  border-radius: 5px;
}
.length .white-bg i {
  font-size: 2rem;
}
